In [18]:
import pandas as pd
df=pd.read_csv('Dataset.csv',encoding='latin-1')
df.head()

  ï»¿label                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [19]:
df['label']=df[df.columns[0]]
df=df[['text','label']]
df.head()

                                                text label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [20]:
import string
punctuations=string.punctuation
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
lem=WordNetLemmatizer()
stopword_list=stopwords.words('english')
def _clean_text(raw_text):
    
    clean_text=raw_text.lower()
    clean_text="".join(c for c in clean_text if c not in punctuations)
    words=clean_text.split()
    words=[w for w in words if w not in stopword_list]
    words=[lem.lemmatize(word,'v') for word in words]
    words=[lem.lemmatize(word,'n') for word in words]
    clean_text=' '.join(words)
    
    
    return clean_text

In [21]:
df['cleaned']=df['text'].apply(_clean_text)

In [22]:
df['word_count']=df['text'].apply(lambda x: len(x.split()))
df['word_count_clean']=df['cleaned'].apply(lambda x: len(x.split()))


df['char_count']=df['text'].apply(lambda x: len(x.replace(" ",'')))
df['char_count_clean']=df['cleaned'].apply(lambda x: len(x.replace(" ","")))


df['num']=df['cleaned'].apply(lambda x: sum([1 if w.isdigit() else 0 for w in x.split()]))

In [23]:
df.head()

,text,label,cleaned,word_count,word_count_clean,char_count,char_count_clean,num
0,"Go until jurong point, crazy.. Available only ...",ham,go jurong point crazy available bugis n great ...,20,16,92,67,0
1,Ok lar... Joking wif u oni...,ham,ok lar joke wif u oni,6,6,24,16,0
2,Free entry in 2 a wkly comp to win FA Cup fina...,spam,free entry 2 wkly comp win fa cup final tkts 2...,28,23,128,113,3
3,U dun say so early hor... U c already then say...,ham,u dun say early hor u c already say,11,9,39,27,0
4,"Nah I don't think he goes to usf, he lives aro...",ham,nah dont think go usf live around though,13,8,49,33,0

In [24]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cvz=CountVectorizer()
cvz.fit(df['cleaned'].values)

count_vect=cvz.transform(df['cleaned'].values)

In [25]:
count_vect

<5572x8206 sparse matrix of type '<class 'numpy.int64'>'
	with 46827 stored elements in Compressed Sparse Row format>

In [35]:
word_tf=TfidfVectorizer(max_features=500)
word_tf.fit(df['cleaned'].values)

word_vec_tfidf=word_tf.transform(df['cleaned'].values)

In [36]:
word_vec_tfidf

<5572x500 sparse matrix of type '<class 'numpy.float64'>'
	with 28313 stored elements in Compressed Sparse Row format>

In [37]:
tfidf=dict(zip(word_tf.get_feature_names(),word_tf.idf_))
tfidf_df=pd.DataFrame().from_dict(tfidf,orient='index')
tfidf_df.columns=['word_tfidf']
tfidf_df.head()

      word_tfidf
10      6.581166
100     5.936809
1000    5.754488
150     5.888019
150p    6.406813

In [38]:
from scipy.sparse import hstack,csr_matrix

meta_features=['word_count', 'word_count_clean',
       'char_count', 'char_count_clean', 'num']

feature_set1=df[meta_features]

train=hstack([word_vec_tfidf,csr_matrix(feature_set1)],'csr')
train

<5572x505 sparse matrix of type '<class 'numpy.float64'>'
	with 51813 stored elements in Compressed Sparse Row format>